.sidebar {
    background-color: #2b2a33;
    position: fixed;
    left: 65px;
    top: 65px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}

.pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 100px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: white;
}

.title {
    text-align: center;
    padding-top: 10px;
    color: orange;
    font-size: 26px;
}

.bio {
    text-align: center;
    color: white;
    font-size: 18px;
}

.links {
    text-align: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

